<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css"  type="text/css" rel="stylesheet">
    <script type="module" src="api.js"></script>
    <title>Home</title>
</head>
<body>
    <h1>Tasks</h1>
    <div class="main">
        <span id="taskCreator">
            <input id="tasktext" type="text">
            <label id="create">Create new task</label>
        </span>
        <div class="area">
            <div class="card"></div>
        </div>
    </div>
</body>
</html>